.imgs {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
}
 
.imgs li {
    position: absolute;
    width: 101%;
    height: 101%;
    top: -0.5%;
    left: -0.5%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
 
/* Если изображение подходит для размеров экрана выставляем её в качестве фона li */
 
.backgroundsize .imgs li {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}
 
/* … и прячем изображения */
.backgroundsize .imgs li img {
    display: none;
}
 
.imgs li img {
    display: block;
    width: 100%;
}
 
/* Фолбэк */
 
.no-js.no-backgroundsize .imgs li:first-child {
    opacity: 1;
}
 
.no-js.backgroundsize .imgs li:first-child img {
    display: block;
}



@font-face {
    font-family: Aquarelle; /* Гарнитура шрифта */
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Aquarelle.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: CYRIL; /* Гарнитура шрифта */
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CYRIL.TTF'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: FontsPack; /* Гарнитура шрифта */
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/16-342-FontsPack.ttf'); /* Путь к файлу со шрифтом */
}



h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: FontsPack;
    margin-left: 0.5em;
    margin-top: 0.5em;
    position: fixed;
    box-shadow: inset white 1px 1px 10px;
    padding: 0.4em;
    border-radius: 7em;
    color: rgb(0, 26, 160);
}

.box {
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin-left: 20%;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    border-radius: 2em;
}

h2 {
    text-align: center;
    font-size: xx-large;
    color: rgb(230, 3, 3);
}

p {
    text-align: center;
    font-size: x-large;
    font-family: Aquarelle;
    font-weight: 100;
    margin-left: 1em;
    margin-right: 1em;
}

p.bold {
    font-weight: 700;
}

.prices {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 0.5em;
}

.normal-font {
    font-family: inherit;
}

td {
    width: 9em;
    text-align: center;
}

tr {
    height: 1.8em;
}

tr td:nth-child(1) {
    text-align: left;
}

tr:nth-child(1) td:nth-child(1) {
    padding-left: 0.5em;
}

.discount {
    font-size: large;
    text-align: center !important;
    color: rgb(160, 5, 5);
    line-height: 1.5em;
}

.phone, .mail {
    font-family: CYRIL;
}

.mail {
    color: rgb(2, 2, 102);
}

.vk {
    margin-bottom: 0;
}